[submodule "FairyIsland/vendor/spdlog"]
	path = FairyIsland/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "FairyIsland/vendor/GLFW"]
	path = FairyIsland/vendor/GLFW
	url = https://github.com/TheCherno/glfw
