# Prerequisites
*.d
.vs/
bin/
bin-int/
FairyIsland/vendor/spdlog/
FairyIsland/x64
*.suo
*.sln.docstates 

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.users
